# Scraping
python-jobspy==1.1.82
requests==2.31.0

# Data
pandas==2.2.1
pyarrow==15.0.2

# Spark
pyspark==3.5.1

# Modelisation
scikit-learn==1.4.1.post1
numpy==1.26.4

# Visualisation
matplotlib>=3.8
seaborn>=0.13

# Utilitaires
python-dotenv==1.0.1
tqdm>=4.66
